.container{
	background: #ffffff;
	padding:10px;
	margin-top: 20px;
}
.container-nav{
	padding:0px;
	height:50px;
}

textarea{
	resize:none;
	min-height:300px;
	height: auto;
	overflow:auto;
}

.overlay{
	position:fixed;
	right: 0px;
	top:10px;
	min-width:250px;
	width:auto;
	z-index:3;
	color:#ffffff;
	font-weight:bold;
}
.overlay-popup{
	width:auto;
	padding:15px 10px;
	color:#ffffff;
	text-transform: uppercase;
}
.overlay-success{
	background: #90ee90;
}
.overlay-error{
	background: tomato;
}

.overlay-popup.ng-enter {
  transition:0.5s linear all;
  transform:translateX(100%);
}

/* The finishing CSS styles for the enter animation */
.overlay-popup.ng-enter.ng-enter-active {
  transform:translateX(0%);
}

.overlay-popup.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}

/* The finishing CSS styles for the enter animation */
.overlay-popup.ng-leave.ng-leave-active {
  opacity:0;
}

.preview-wrapper{
	border: 1px solid #ccc;
	min-height:100px;
	height: auto;
	width:100%;
	padding:10px;
	border-radius:5px;
}

.bgoverlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
	height:100%;
    z-index: 2;
	background: rgba(50, 50, 50, 0.2);
}

.bgoverlay .container{
	padding:0;
	background: none;
	margin-top: 50px;
}

.bgoverlay .container .panel{
	min-height:200px;
	height: auto;
}

.bgoverlay .container .panel-body{
	text-align:center;
}

.bgoverlay .container .fa-times{
    float: right;
    margin-top: -20px;
    cursor: pointer;
    padding: 5px;
}

.bgoverlay .container .fa-times:hover{
    box-shadow: 0px 0px 10px #8b4513;
}

/* File Uploader */
.fileUpload #uploader{
	-webkit-appearance: none;
	appearance: none;
	width: 50%;
	margin:30px 0px;
}
.fileUpload input[type=file] {
    display: inline-block;
}

.floatRight{
	float:right;
}
.align-center{
	text-align: center
}

/* Splash Page */

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0288D1;
    background: radial-gradient(circle, #039BE5, #01579b);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
