<header ng-controller="NavController as navctrl">
	<nav class="navbar navbar-default navbar-techBlog">
		<div class="container">
			<div class="navbar-header">
				<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>-->
				<a class="navbar-brand" href="#/"><span class="leftSpan"><</span>Tech-Blog <span>/</span><span class="rightSpan">></span></a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="{'active': menuValue == '/allblog'}" ng-if="user"><a href="#/allblog"><i class="icon fa fa-list-alt fa-lg"></i><span class="menuTxt">All Blogs</span></a></li>
				<li ng-class="{'active': menuValue == '/addblog'}" ng-if="user"><a href="#/addblog"><i class="icon fa fa-commenting fa-lg"></i><span class="menuTxt">Add Blog</span></a></li>
				<li><a href="javascript:void(0)" ng-if="user" ng-click="navctrl.loadProfile();"><i class="icon fa  fa-user-circle fa-lg"></i><span class="menuTxt">My Profile</span></a></li>
				<li><a href="javascript:void(0)" ng-click="navctrl.logout()" ng-if="user"><i class="icon fa fa-power-off fa-lg"></i> <span class="menuTxt">Logout</span></a></li>
			</ul>
		</div>
	</nav>
</header>