<div class="container">
  <div class="page-header">
    <h1 class="logo"><small>Sign in to continue</small></h1>
  </div>

  <div class="panel login-panel">
    <div class="panel-body">

		<div class="row">
			<div class="col-sm-12 col-xs-12">
			  <!--<div class="col-sm-12">
				  <button class="button btn-block facebook" disabled><span><i class="fa fa-facebook"></i></span><p>Facebook</p></button>
			  </div>
			  <div class="col-sm-12">
				  <button class="button btn-block twitter"><span><i class="fa fa-twitter"></i></span><p>Twitter</p></button>
			  </div>-->
			  <div class="col-sm-12">
				  <button class="button btn-block google" ng-click="loginctrl.googleLogin()"><span><i class="fa fa-google"></i></span><p>Google </p></button>
			  </div>
			</div>
		</div>
	  
		<div class="row align-center" ng-if="loginctrl.loader == true">
			<div class="col-md-12 col-xs-12 text-primary">
				<h4><i class="fa fa-spinner fa-pulse"></i> Please wait... checking login.</h4>
			</div>
		</div>

    </div>
  </div>