<div class="container">
  <div class="page-header">
    <h1 class="logo"><small>Sign in to continue <!--to Tech-blog--></small></h1>
  </div>

  <div class="panel login-panel">
    <!--<div class="panel-heading">
      <h3 class="panel-title login-title">Please Sign In</h3>
    </div>
      <hr class="login-hr">-->
    <div class="panel-body">

      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-12">
              <a href="#" class="button btn-block facebook"><span><i class="fa fa-facebook"></i></span><p>Facebook</p></a>
          </div>
          <div class="col-sm-12">
              <a href="#" class="button btn-block twitter"><span><i class="fa fa-twitter"></i></span><p>Twitter</p></a>
          </div>
          <div class="col-sm-12">
              <a href="#" class="button btn-block google"><span><i class="fa fa-google"></i></span><p>Google </p></a>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12 login-form-cnt">
          <form class="form-horizontal login-form">
            <fieldset>
              <div class="login-form-group" ng-class="{'active':uname==true,'normal':uname==false}">
                <label>User Name</label>
                <input id="username" name="username" type="text" ng-focus="uname=true" ng-blur="uname=false" class="form-control input-md">
              </div>
              <div class="login-form-group" ng-class="{'active':active==true,'normal':active==false}">
                <label>Password</label>
                <input id="Password" name="Password" type="text" ng-focus="active=true" ng-blur="active=false" class="form-control input-md mt20">
              </div>
                <div class="spacing"><a href="#"> Forgot Password?</a><br/></div>
                <button id="login" disabled="disabled" name="singlebutton" class="btn pull-right signIn">Sign In</button>


            </fieldset>
          </form>
        </div>

      </div>

    </div>
  </div>