
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Review Question</h1>
        </div>
    </div>
    <div class="add-blog-cnt">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-item">
                    <h4>Test Question here</h4>
                    <p>question details here</p>
                    <button class="approve"><i class="fa fa-check"></i> Approve</button>
                    <button class="disapprove"><i class="fa fa-close"></i> Disapprove</button>
                </div>
            </div>
        </div>
    </div>
</div>