
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Recent Blogs</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-3" ng-repeat="blog in allblogctrl.blogs">
            <a href="#" class="box">
                <div class="box-heading blue">
                    <img ng-src="{{blog.userPic}}" class="img-circle" height="40" width="40"/>
                    <span>{{blog.username}}</span>
                </div>
                <div class="box-body">
                    <h3>{{blog.title}}</h3>
                    <small ng-bind-html="blog.content"></small>
                </div>
                <div class="box-footer">
                    <ul class="list-inline">
                        <li><i class="fa fa-thumbs-up"></i> {{blog.likes}}</li>
                        <li><i class="fa fa-mail-forward"></i> {{0}}</li>
                        <li><i class="fa fa-eye"></i> {{blog.views}}</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>