.box{display:block;margin-bottom: 20px;background: #fff;border: none;border-radius: 3px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4); box-shadow: 0 1px 1px rgba(0,0,0,0.4);height: 196px;}
.box:focus{text-decoration: none;}
.box-heading{font-size: 14px;padding:10px 15px;font-family: 'brandon_grotesquemedium';border-radius: 3px 3px 0 0;}
.box-heading img{margin-right: 10px;}
.box-body{padding: 15px;font-family: 'brandon_grotesquelight';font-size: 16px;}
.box-body h3{font-size: 20px;margin: 0 0 15px;}
.box-footer {padding: 5px 15px;}
.box h3, .box small p{height: 20px; text-overflow: ellipsis; overflow: hidden; white-space: pre;}
.page-title{font-family: 'brandon_grotesquemedium'; font-size: 20px; text-transform: uppercase;margin: 30px 0; }
.purple{background: #673ab7; color: #fff;}
.blue{background: #0280c8; color: #fff;}
.lightYellow{background: #fffbec; color: #333;}
#preloader {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50px;
    background: #fff;
    z-index: 9999;
}

.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

}

.circle-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 50px;
  left: 50%;
  position: absolute;
  top: 20%;
  width: 50px;
}

.circle-loader .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #3f88f8;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

.noblog-alert h1{margin: 0;font-family: 'PT Sans', sans-serif; font-size: 16px;}
