textarea{
    min-height: 100px;
    height: auto;
}

.btn-comment{
    margin-left: 10px; 
}

.commentsWrapper{
    background: #f8f8ff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ececec;
    border-radius: 5px; 
}

.commentImg{
    text-align: center;
    border-right: 1px solid darksalmon;
}

.deleteCmt{
    font-size: 20px;
    cursor: pointer;
}