<div class="container">
<div class='col-md-11'>
	<br/>
	<button class="btn btn-sm btn-primary" ng-click="blogdetctrl.goToAllBlogs()"><i class="fa fa-reply" aria-hidden="true"></i> Go back</button>
	<br/><br/>
</div>
<div class='col-md-1'>
	<login-directive></login-directive>
</div>

<div class='col-md-12' ng-if="blogdetctrl.blogdata.length<=0">
	<h4 class="text-primary">
		<i class="fa fa-pulse fa-spinner"></i> Please wait, loading blogs...
	</h4>
</div>

<div class="col-md-12" ng-repeat="blog in blogdetctrl.blogdata track by $index">
	<h3 class="text-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{blog.title}}</h3>
	<h5 class="text-warning"><strong class="floatRight" style="margin-top:-25px">{{blog.blogdate | date: 'dd-MM-yyyy HH:mm'}}</strong></h5>
	<hr/>
	<output class="preview-wrapper" ng-bind-html="blog.content"></output>
</div>

</div>

<div class="container">
	<h4 class="text-primary">Comments</h4>
	<div class="col-md-12">
		<div class="col-md-12 commentsWrapper" ng-repeat="cmtDet in blogdetctrl.blogSort">
			<div class="col-md-2 commentImg">
				<img ng-src="{{cmtDet.userPic}}" height="80" width="80" /><br/>
			</div>
			<div class="col-md-10">
				<div>From <span class="text-info">{{cmtDet.userName}}</span> on 
						<span class="text-info">{{cmtDet.commentDate | date: "dd-MMM-yyyy"}}</span>
						<i class="fa fa-trash floatRight deleteCmt" title="Delete comment." ng-click="blogdetctrl.deleteComment(cmtDet)" ng-if="userData.displayName === cmtDet.userName"></i>
				</div><br/>
				{{cmtDet.comment}}
			</div>
		</div>
		<h5 class="text-danger" ng-if="blogdetctrl.blogSort.length<=0">No comments yet...</h5>
		<div class="col-md-12 commentsWrapper" ng-if="blogdetctrl.commentBox">
			<div class="col-md-2 commentImg">
				<img ng-src="{{userData.photoURL}}" height="80" width="80" /><br/>
			</div>
			<div class="col-md-10">
				<div>From <span class="text-info">{{userData.displayName}}</span></div><br/>
				{{blogdetctrl.commentBox}}
			</div>
		</div>
	</div>
	<hr/>
	<div class="col-md-12 row" ng-if="isLoggedIn">
		<h4 class="text-primary">Add a comment</h4>
		<textarea class="form-control" placeholder="Would love to here you..." ng-model="blogdetctrl.commentBox"></textarea>
		<br/>
		<button class="btn btn-primary floatRight btn-comment" ng-click="blogdetctrl.addComment()" ng-disabled="!blogdetctrl.commentBox">
			<i class="fa fa-pencil-square-o"></i> Add comment
		</button>
		<img ng-src="{{userData.photoURL}}" class="img-circle floatRight" height="40" width="40" ng-if="userData.photoURL"/>
	</div>
</div>