.add-blog-cnt{font-family: 'Roboto', sans-serif;/*margin-top: 50px;*/}
.question-heading{font-size: 24px; margin-top: 0;}
pre{border: none;border-radius: 0;}
.questionDetail{text-transform: capitalize;margin-top: 5px;}
.labelTxt{ /*text-transform: uppercase;font-family: 'brandon_grotesquelight';*/color: #999; font-size: 13px; margin-right: 10px;}
.label-input{font-family: 'Roboto', sans-serif; font-size: 14px;}
.blog-like-dislike{margin: 10px 0 0; float: left;}
.blog-like-dislike li{margin-right: 10px;}
.blog-like-dislike li a{font-size: 12px; color:#999;}
.blog-poster{font-family: 'Roboto', sans-serif;font-size: 20px;display: block; text-align: right;}
.blog-poster span{margin-right: 8px;}
.btn-blue{float:right;color:#fff;background: #0280c8;font-family: 'Roboto', sans-serif; font-size: 14px;text-transform: uppercase; border-radius: 0;transition: all 0.2s ease-in-out 0.2s;}
.btn-blue:hover, .btn-blue:focus{color:#fff;background: #3498db;}
hr.blog-line{margin: 0px 0 10px;}
.add-comment-cnt{margin-top: 40px;}
/* add-comment-form */
form.add-comment-form label{font-size: 20px;font-weight:100;margin-bottom: 0;font-family: 'Roboto', sans-serif; position: absolute; top: 0;transition: all 0.2s ease-in-out 0.02s;color:#d7d7d7;}
form.add-comment-form .form-control{border: none;background: none;box-shadow: none;border-radius: 0;border-bottom: solid 1px #d7d7d7;padding-left: 0;font-size: 18px; }
form.add-comment-form textarea.form-control{min-height: 200px;resize: none;}

form.add-comment-form .form-control:focus{border-bottom: solid 2px #0280c8;}
.addBlog{font-size: 18px; float:right;font-family: 'Roboto', sans-serif;color:#fff;background: #d7d7d7; border: none; border-radius: 0;padding: 10px 25px;}
.addBlog:focus, .addBlog:hover{background: #0280c8;color: #fff;}

.instruction{position:absolute; right: 0;top:-15px; padding: 15px 15px 10px 15px;font-size: 14px;margin-bottom: 1.5em;background:#fcf3cf;border-radius: 0;border-color:#fae9a3;transition: display 3s ease-in-out 2s; z-index: 999;}
.instruction h4{color:#333;font-family: 'brandon_grotesquemedium';font-size: 20px;}
.instruction ul{padding-left:20px;list-style-type: square;}
.instruction ul li{color:#000;line-height: 30px;font-family:'brandon_grotesquelight';font-size: 16px; text-transform: initial;}
.instruction ul li i.fa{margin-right: 10px;}
.add-comment-form label.active{top: -30px; color: #333;}

.addBlogInst.instruction{top: 123px;right: 15px;}
.titlePresent.instruction{left: 10px;right: inherit; }
.titlePresent {font-family:'robot' sans-serif;font-size: 14px;top: 60px;left: 13px;position: absolute;}
.titlePresent:after {bottom: 100%;left: 10%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-bottom-color: #f2dede;border-width: 10px;margin-left: -10px;}


/*comment section*/
.comment-cnt{position: relative;}
.comment-cnt .thumbnail{position:absolute; left: 0; top: 0; width: 40px; height: 40px;border-radius: 50%;padding: 0;}
.comment-cnt .panel.panel-default{margin-left: 65px;}
.comment-cnt .panel {
	position:relative;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    background: #f7f7f7;
}
.comment-cnt .panel-heading{background: #f7f7f7;border-color: transparent;border-radius: 0;}

/*.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:-2px;left:-40px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:20px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color: #ddd;
    border-width: 20px;
    left: -39px;
    top: 0px;
}*/