<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Recent Blogs</h1>
        </div>
    </div>
    <div class="add-blog-cnt">
        <div class="row">
            <div class="col-sm-8">
                <form class="addBlog-form" name="AddBlogForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Title">Title:</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="blogTitle" ng-focus="addctrl.showTitleInst = true" ng-blur="addctrl.showTitleInst = false"  ng-change="showTitle = true" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="content">Content:</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control" id="content" placeholder="Ask Question" ng-model="formatInstruction" ng-focus="addctrl.showFormatInst = true" ng-blur="addctrl.showFormatInst = false" ng-change="content=true" ></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {{AddBlogForm.blogTitle.$dirty}}
                    <button type="submit" class="btn btn-default addBlog" ng-enabled="!addBlog.blogTitle.$dirty" >Submit</button>
                </form>
            </div>
            <div class="col-sm-4">
                <div id="moveable-cnt">
                    <div ng-if="addctrl.showTitleInst" class="instruction alert alert-warning" id="titleInstruction">
                        <h4>How to Ask</h4>
                        <ul class="list-item">
                            <li>Is your question about programming?</li>
                            <li>We prefer questions that can be <i>answered</i>, not just discussed.</li>
                            <li>Provide details. Share your research.</li>
                            <li>If your question is about this website, </li>
                            <!--<a class="pull-right" href="/help">visit the help center »</a><br/>
                            <a class="pull-right" href="/help/how-to-ask">asking help »</a>-->
                        </ul>
                    </div>
                    <div ng-if="addctrl.showFormatInst" class="instruction alert alert-warning" id="showFormatInst">
                        <h4>How to Format</h4>
                        <ul class="list-item">
                            <li>put returns between paragraphs</li>
                            <li>for linebreak add 2 spaces at end</li>
                            <li><i>_italic_</i> or <b>**bold**</b></li>
                            <li>indent code by 4 spaces</li>
                            <li>backtick escapes <code>`like _so_`</code></li>
                            <li>quote by placing &gt; at start of line</li>
                            <li>basic HTML also allowed</li>
                            <li><a href="/editing-help" target="_edithelp">formatting help »</a></li>
                            <li><a href="/questions/how-to-ask">asking help »</a></li>
                        </ul>
                    </div>
                    <div ng-if="addctrl.tagInstruction" class="instruction alert alert-warning" id="tagInstruction">
                        <h4>How to Tag</h4>
                        <ul class="list-item">
                            <li>A tag is a keyword or label that categorizes your question with other, similar questions.</li>
                            <li>favor existing popular tags; avoid creating new tags</li>
                            <li>use common abbreviations</li>
                            <li>don't include synonyms</li>
                            <li>combine multiple words into single-words with dashes</li>
                            <li>maximum of 5 tags, 25 chars per tag</li>
                            <li>tag characters: [a-z 0-9 + # - .]</li>
                            <li>delimit tags by space, semicolon, or comma</li>
                            <li><a href="/tags">popular tags »</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>