<div class="container">
    <div class="alert alert-info reviewer-alert">
        <strong>Note!</strong> your post will refelected by approval of reviewer.
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Write a blog</h1>
        </div>
    </div>
    <div class="add-blog-cnt">
        <div class="row">
            <div class="col-sm-12">
                <form class="addBlog-form" name="AddBlogForm" ng-submit="addblogctrl.createNewBlog()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Title">Title: </label> 
                                <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="addblogctrl.blogTitle" ng-focus="addblogctrl.titlePresent=false" ng-blur="addblogctrl.checkTitlePresence();">
                                <div class="titleinfo" ng-click="addblogctrl.showTitleInst = true;"><i class="fa fa-info"></i></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Title">Tags:</label> 
                                <input type="text" class="form-control" id="Title" placeholder="HTML, JavaScript, Jquery" ng-model="addblogctrl.technologies">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div id="moveable-cnt">
                            <div ng-if="addblogctrl.showTitleInst" class="instruction alert alert-warning" id="titleInstruction">
                                <h4>How to Ask</h4>
                                <button class="btn btn-close" ng-click="addblogctrl.showTitleInst = false"><i class="fa fa-window-close fa-lg"></i></button>
                                <ul class="list-item">
                                    <li>Is your question about programming?</li>
                                    <li>We prefer questions that can be <i>answered</i>, not just discussed.</li>
                                    <li>Provide details. Share your research.</li>
                                    <li>If your question is about this website, </li>
                                    <!--<a class="pull-right" href="/help">visit the help center »</a><br/>
                                    <a class="pull-right" href="/help/how-to-ask">asking help »</a>-->
                                </ul>
                            </div>
                            <div ng-if="addblogctrl.showFormatInst" class="addBlogInst instruction alert alert-warning">
                                <h4>How to Format</h4>
                                <button class="btn btn-close" ng-click="addblogctrl.showFormatInst = false"><i class="fa fa-window-close fa-lg"></i></button>
                                <ul class="list-item">
                                    <li>put returns between paragraphs</li>
                                    <li>for linebreak add 2 spaces at end</li>
                                    <li><i>_italic_</i> or <b>**bold**</b></li>
                                    <li>indent code by 4 spaces</li>
                                    <li>backtick escapes <code>`like _so_`</code></li>
                                    <li>quote by placing &gt; at start of line</li>
                                    <li>basic HTML also allowed</li>
                                    <li><a href="/editing-help" target="_edithelp">formatting help »</a></li>
                                    <li><a href="/questions/how-to-ask">asking help »</a></li>
                                </ul>
                            </div>
                            <div ng-if="addblogctrl.titlePresent" class="titlePresent alert alert-danger">
                                Title is already present, please change title.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="content">Content:</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!--<textarea type="text" class="form-control" id="content" placeholder="Ask Question" ng-model="formatInstruction" ng-focus="addblogctrl.showFormatInst = true" ng-blur="addblogctrl.showFormatInst = false" ng-change="content=true" ></textarea>-->
                                <text-angular ng-model="addblogctrl.content" ng-focus="addblogctrl.showFormatInst = true" ></text-angular>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button type="submit" class="btn btn-default addBlog" ng-disabled="!addblogctrl.blogTitle || !addblogctrl.content || addblogctrl.titlePresent" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>