<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Recent Blogs</h1>
        </div>
    </div>
    <div class="add-blog-cnt">
        <div class="row">
            <div class="col-sm-6">
                <form class="addBlog-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Title">Title:</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Title" placeholder="Title">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="content">Content:</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control" id="content" placeholder="Title"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button type="submit" class="btn btn-default addBlog">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>